.overlay {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    @apply bg-slate-200 dark:bg-slate-900;
    @apply backdrop-blur;
}

.container {
    position: absolute;
    @apply w-full md:w-[calc(100vw_-_12%)];
    @apply h-full md:h-[calc(100vh_-_12%)];
    @apply p-10;
    @apply rounded-none md:rounded-2xl;
    @apply bg-slate-50 dark:bg-slate-800;
    @apply shadow-none md:shadow-md;
}

.closeBtn {
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    top: 1rem;
    right: 1rem;
    @apply p-2;
    @apply bg-gray-400 dark:bg-gray-900;
    @apply rounded-full;
}