.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 64px;
    @apply flex flex-col md:flex-row justify-between place-items-center gap-2;
    @apply px-8 py-2;
    @apply bg-gray-100 dark:bg-gray-800 bg-opacity-90 dark:bg-opacity-80 backdrop-blur;
    @apply shadow-md;
}